body {
    background-image: url("https://assets.simpleviewcms.com/simpleview/image/upload/c_limit,q_75,w_1200/v1/crm/lasvegas/bruno_mars_30D1F154-0475-C2D6-E773603CE857E818_30d2dc7f-a6f7-d7de-a706d382f4f5e920.jpg");
    /* The image used */
    background-position: down;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */

    color: #F0F8FF;
}

h2{ 
    color: white;
}

h3 {
    color: #F0F8FF
}

p {
    font-size: 20px;
   background-color: #F0F8FF; opacity: 0.5;
}

h1 {
    color: #F0F8FF;
}

table,
th,
td {
    border: 1px solid #F0F8FF;
}

p{ 
    color: black;
}